* {
    padding: 0;
    margin: 0;
    font-size: 24px;
    box-sizing: border-box;
}

body {
    position: relative;
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 10fr 25px;
}

header {
    display: flex;
    background-color: #1e2227;
    grid-row: 1 / span 1;
    justify-content: center;
    align-items: center;
}

header > h1 {
    font-size: calc(24px + 2vw);
    color: #0099d5;
}

main {
    display: grid;
    background-color: #1e2227;
    grid-row-start: 2;
    grid-row-end: span 1;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 20px;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 25vw;
    max-height: 25vh;
    background-color: white;
    color: #1e2227;
    padding: 0 2px;
    border-radius: 15px;
    user-select: none;
    text-align: center;
    font-size: 16px;
}
.card h3, .card p {
    font-size: 120%;
}

.card-bottom {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: clamp(25px,45%);
    margin: 2px;
    gap: 2px;
}

.read {
    height: 100%;
    background-color: rgb(192, 190, 190);
    border-radius: 10px;
}

.delete {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #0099d5;
    height: 100%;
    border-radius: 10px;
}

.delete:hover, .read:hover {
    opacity: 60%;
    cursor: pointer;
}

.delete img {
    transform: scale(0.6);
}

.card-add {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 800%;
    color: rgb(192, 190, 190);
    padding: 2vw;
}

.card-add:hover {
    cursor: pointer;
    opacity: 60%;
}

footer {
    position: fixed;
    display: flex;
    background-color: #1e2227;
    grid-row-start: 3;
    grid-row-end: span 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    bottom: 0;
    gap: 2px;
    height: 30px;
    padding: 2px;
}

footer p {
    color: #0099d5;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.add-book-section {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    align-items: center;
}
.add-book-section .new-book-form {
    margin-right: auto;
    margin-left: auto;
    width: max-content;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: start;
    padding: 1rem 1rem;
    border: solid 1px #d3d3d3;
    border-radius: 5px;
    position: relative;
    background-color: #fff;
}

.add-book-buttons {
    display: flex;
    gap: 5px;
}

.add-book-buttons > input {
    flex: 1;
}